<%- include("./templates/header", {pageName: "Game Lobby"}) %>
<%- include("./templates/navbar", {currentPage: "game"}) %>
<%- include("./templates/gameNavbar", {currentPage: "game" }) %>
<div style="margin-bottom: 100px;" id="white-space-for-fixed-game-navBar"></div>
<%- include("./templates/postGameModalWin", {currentPage: "game" }) %>
<%- include("./templates/postGameModalLose", {currentPage: "game" }) %>
<div id="statusMenu"></div>
<div id="gameMenu"></div>
<%- include("./templates/websocketImport"), { url } %>
<script src="windowHandler.js"></script>
<%- include("./templates/footer", {pageScript: "game.js"}) %>