<%- include("./templates/header", {pageName: "Profile"}) %>
<%- include("./templates/navbar", {currentPage: "profile"}) %>

<!-- <p class="font-bold text-3xl text-center m-3 font-quicksand">Profile</p> -->

<div class="relative mb-14 ">
    <img src="/images/avatar1.jpg" class="
        absolute
        w-60 sm:w-60 md:w-60
        left-0 right-0 top-16
        mx-auto rounded-full aspect-square border-8 border-zinc-800"
    >

    <img src="/images/avatar2.jpg" class="w-screen" style="height: 300px;">
</div>

<div class="bg-zinc-400 text-center m-3 rounded-lg p-3    border-4 border-neutral-800 ">
    <p class="font-bold text-2xl text-left my-2"> <%= session.username %></p>
    <p class="font-semibold text-xl font-danfo text-left my-1">Wins: <%= data.winCount %></p>
    <p class="font-semibold text-xl text-left my-1">Games Played: <%= data.winCount + data.loseCount %></p>
</div>

<div class="flex flex-col mx-3 mb-3">
    <a href="#" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none
    dark:focus:ring-zinc-500 mx-auto mt-4 p-5 w-full font-quicksand">Change Profile Picture</a>
    <a href="#" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none
    dark:focus:ring-zinc-500 mx-auto mt-3 p-5 w-full font-quicksand ">Change Password</a>
    <a href="/logout" class="block text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto mt-3 p-5 w-full md:hidden font-quicksand">Logout </a>
</div>


<%- include("./templates/footer", {pageScript: "profile.js"}) %>