<%- include("./templates/header", {pageName: "Profile"}) %>
<%- include("./templates/navbar", {currentPage: "profile"}) %>
<p class="font-bold text-xl text-center m-3 font-quicksand">Profile</p>

<div class="relative my-10">
    <img src="/images/avatar1.jpg" class="
        absolute
        w-60 sm:w-60 md:w-60
        left-0 right-0 top-10
        mx-auto rounded-full aspect-square border-4 border-zinc-800"
    >

    <img src="/images/avatar2.jpg" class="w-screen" style="height: 300px;">
</div>


<p class="font-bold text-xl text-center m-2"><%= session.username %></p>

<div class="bg-zinc-400 text-center m-3 rounded-lg p-3">
    <p class="font-semibold text-lg">Wins: <%= data.winCount %></p>
    <p class="font-semibold text-lg">Games Played: <%= data.winCount + data.loseCount %></p>
</div>

<div class="flex flex-col mx-3 ">
    <a href="#" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto mt-4 p-5 w-full font-quicksand">Change Profile Picture</a>
    <a href="#" class="text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto mt-3 p-5 w-full font-quicksand">Change Password</a>
    <a href="/logout" class="block text-white text-center bg-zinc-800 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg py-2.5 focus:outline-none dark:focus:ring-zinc-500 mx-auto mt-3 p-5 w-full md:hidden font-quicksand">Lgout </a>

</div>
<%- include("./templates/footer", {pageScript: "profile.js"}) %>