<%- include("./templates/header", {pageName: "Sign Up"}) %>
<%- include("./templates/navbar", {currentPage: "signUp"}) %>
<div class="max-w-lg flex flex-col justify-center mx-auto " 
    style="margin-top: 5rem;"> 
    <div id="errorContainer" class="text-red-400"></div>
    <form id="signUpForm" class="flex flex-col items-center m-3" action="/createAccount">
        <%- include("./templates/credentialField", {type: "text", id: "usernameField", placeholder: "Enter Username", fieldLabel: "Username <span class='text-red-400'>*</span>"}) %>
        <%- include("./templates/credentialField", {type: "text", id: "emailField", placeholder: "Enter Email", fieldLabel: "Email <span class='text-red-400'>*</span>"}) %>
        <%- include("./templates/credentialField", {type: "password", id: "passwordField", placeholder: "Enter Password", fieldLabel: "Password <span class='text-red-400'>*</span>"}) %>
        <%- include("./templates/formSubmitButton", {buttonText: "Create Account"}) %>
    </form>
</div>
<p class="text-center mb-5 max-w-lg mx-auto">Already have an account? <a href="login" class="underline text-blue-500">Login</a></p>
<%- include("./templates/footer", {pageScript: "signUp.js"}) %>