<div class="m-3 w-full ">
    <label for="<%= id %>" class="block font-bold w-full "><%- fieldLabel %></label>
    <input type="<%= type %>" id="<%= id %>" name="<%= id %>" placeholder="<%= placeholder %>" class="w-full p-2 py-2.5 text-md bg-zinc-200 rounded-xl border-2 border-gray-300 focus:border-gray-500 focus:bg-zinc-300 outline-none ">
</div>