<div class="m-3 mx-auto">
    <label for="<%= id %>" class="block font-bold"><%= fieldLabel %></label>
    <input type="<%= type %>" id="<%= id %>" placeholder="<%= placeholder %>" class="w-64 p-2 bg-zinc-200 rounded-xl border-2 border-gray-300 focus:border-gray-400 focus:bg-zinc-300 outline-none">
</div>