<!-- Parts of class options taken from https://flowbite.com/docs/components/navbar/ -->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-x1 flex flex-wrap items-center justify-between mx-auto p-3">
        <a href="/" class="flex items-center">
            <img src="/images/logo.png" class="h-14", alt="Dead Net Logo">
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <%- include("navbarItem", {label: "Home", pageLink: "/", currentPage: currentPage}) %>
                <% if (authenticated) { %>
                    <%- include("navbarItem", {label: "Profile", pageLink: "profile", currentPage: currentPage}) %>
                    <%- include("navbarItem", {label: "Play", pageLink: "game", currentPage: currentPage}) %>
                    <%- include("navbarItem", {label: "Logout", pageLink: "/logout", currentPage: currentPage}) %>
                <% } else { %>
                    <%- include("navbarItem", {label: "Login", pageLink: "login", currentPage: currentPage}) %>
                    <%- include("navbarItem", {label: "Sign Up", pageLink: "signUp", currentPage: currentPage}) %>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<!-- script tied to navbar hamburger functionality -->
<script src="navbar.js"></script>