<div class="bg-gray-300 rounded-lg flex mt-2 justify-between items-center" id="<%= playerName %>Card">
    <div class="flex">
        <img src="<%= playerAvatar %>" class="w-16 h-16 p-2 rounded-full">
        <div class="p-1">
            <p class="text-sm font-semibold"><%= playerName %></p>
            <p class="text-sm"><%= responseContent %></p>
        </div>
    </div>
    <button id="<%= playerName %>" class="bg-blue-600 text-white font-semibold text-sm rounded-full mr-2 w-11 h-11 p-2">Vote</button>
</div>