<div id="resultView">
    <% if (eliminatedPlayer) { %>
        <div class="m-2 rounded-lg">
            <label for="card" class="text-xl font-bold m-2">The Most Voted Player</label>
            <div class="flex bg-white intense-shadow m-2 rounded-lg">
                <img src="<%= eliminatedPlayer.request.session.game.aliasPicture %>" class="w-16 h-16 p-2 rounded-full">
                <div class="p-1">
                    <p class="text-sm font-semibold"><%= eliminatedPlayer.request.session.game.alias %></p>
                    <p class="text-sm"><%= eliminatedPlayer.request.session.game.response %></p>
                </div>
            </div>
            <p id="checkmarks" class="text-green-600 text-3xl m-2">
                <% for (let i = 0; i < voteCount; i++) { %> ✓ <% } %>
            </p>
            <p class="text-center font-semibold"><%= eliminatedPlayer.request.session.game.alias %> has been banned!</p>
        </div>
    <% } else { %>
        <p class="text-4xl mt-4 mb-2 text-center font-bold m-2">No majority vote, no one has been banned!</p>
    <% } %>
    <div class="m-2 mt-6">
        <label for="players" class="font-bold text-xl m-2">Remaining Players</label>
        <div id="players" class="m-2">
            <% for (let i = 0; i < remainingPlayers.length; i++) { %>
                <div class="flex bg-white m-2 rounded-lg items-center intense-shadow">
                    <img src="<%= remainingPlayers[i].request.session.game.aliasPicture %>" class="w-16 h-16 p-2 rounded-full">
                    <div class="p-5">
                        <p class="text-lg font-semibold"><%= remainingPlayers[i].request.session.game.alias %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>