<div id="voteView">
    <p class="text-2xl p-4 text-center font-bold bg-gray-800 m-2 text-white rounded-lg">Who is The AI?</p>
    <label for="prompt" class="text-sm p-2 font-semibold">Prompt</label>
    <p id="prompt" class="p-4 bg-zinc-300 font-semibold m-2 rounded-lg"><%= prompt %></p>
    
    <label for="responses" class="text-sm p-2 font-semibold">Responses</label>
    <div id="responses" class="m-2">
        <% for(let i = 0; i < players.length; i++) { %>
            <!-- Passes list of sockets -->
            <div class="bg-gray-300 rounded-lg flex mt-2 justify-between items-center" id="<%= players[i].request.session.game.alias %>Card">
                <div class="flex">
                    <img src="<%= players[i].request.session.game.aliasPicture %>" class="w-16 h-16 p-2 rounded-full">
                    <div class="p-1 text-wrap">
                        <p class="text-sm font-semibold"><%= players[i].request.session.game.alias %></p>
                        <p class="text-sm"><%= players[i].request.session.game.response %></p> 
                    </div>
                </div>
                <button id="<%= players[i].id %>" class="voteButton bg-blue-600 text-white font-semibold text-sm rounded-full mr-2 w-11 h-11 p-2">Vote</button>
            </div>
        <% } %>
    </div>
</div>